<!DOCTYPE html>

<html>
<head>
    <title>INDEX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <a href="/jump?url=create" name="create" title="create">create</a>
    <a href="/jump?url=delete" name="delete" title="delete">delete</a>
    <a href="/jump?url=update" name="update" title="update">update</a>
    <a href="/jump?url=read" name="read" title="read">read</a>
    <a href="/jump?url=upload" name="upload" title="upload">upload</a>
</body>
</html>
